@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "glysa";
  src: url("/fonts/Glysa.otf");
}

@font-face {
  font-family: "lexend";
  src: url("/fonts/LexendDeca-VariableFont_wght.ttf");
}

html {
  font-family: "lexend";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1%;
}

@layer base {
  .input {
    @apply placeholder:text-white/[0.32] hover:border-grey-30 focus:bg-grey-60 focus:border-grey-10 outline-none focus:opacity-100 border border-grey-60 rounded-base py-3 px-2 bg-grey-80 text-white;
  }
  .label {
    @apply capitalize text-message leading-[16px] text-white/[0.56] mb-1;
  }
  .h1 {
    @apply font-["glysa"] font-normal text-white text-[32px] leading-[48px] tracking-[0%];
  }
  .h2 {
    @apply font-["glysa"]  font-normal text-white text-[24px] leading-[40px] tracking-[0%];
  }
  .h3 {
    @apply font-normal text-white text-[16px] leading-[24px] tracking-[1%];
  }
}
@layer utilities {
  .rounded-base {
    @apply rounded-[8px];
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .transform-center{
    @apply transform translate-x-[-50%] translate-y-[-50%] left-1/2 top-1/2;
  }
}

@layer components {

  .btn {
    @apply flex items-center bg-grey-60 py-2 px-4 rounded-base hover:bg-grey-50 active:bg-grey-40 text-white;
  }
  .btn.btn-round{
    @apply rounded-full bg-gradient-to-b from-grey-90/70 ;
  }
  .icon {
    @apply w-[24px] h-[24px] flex-center;
  }
  .text-message {
    @apply font-normal text-white text-[12px] leading-[12px] tracking-[1%];
  }
}